body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .navbar {
    overflow: hidden;
    background-color: #b30000;
  }
  
  .navbar a {
    float: right;
    font-size: 25px;
    color: black;
    text-align: center;
    padding: 4px 8px;
    text-decoration: none;
  }
  
  .dropdown {
    float: right;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 25px;  
    border: none;
    outline: none;
    color: black;
    padding: 4px 8px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #bfbfbf;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 9px 9px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 9px 8px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  h1{
      font: #bfbfbf00;
      font-family: cursive;
  }
  div.a{
      text-align: center;
  }
  div.item {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 800px;
    font-size: 30px;
}
#img5{
    width: 550px;
    height: 500px;
    background-color: grey;
}
.caption {
    display: block;
}

div.item1 {
  vertical-align: top;
  display: inline-block;
  text-align: center;
  width: 800px;
  font-size: 30px;
  float: right;
}
#img6{
  width: 550px;
  height: 500px;
  background-color: grey;
}
.caption2 {
  display: block;
}

